@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@source "../node_modules/lib-components/dist";

@theme {
	--font-sans: 'Inter', sans-serif;
	--background-color-secondary: #f9f9f9;
	--border-color-primary: #f2f2f2;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
