@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';
@source "../node_modules/@lib/components/dist";
@import '@toolwind/anchors';

@theme {
	--text-color-primary: black;
	--text-color-secondary: black;

	--font-sans: 'Geist', sans-serif;
	--background-color-tertiary: #f0f0f0;
	--background-color-primary: white;
	--background-color-secondary: #f9f9f9;
	--border-color-primary: #f2f2f2;
	--background-color-border: #f2f2f2;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html[data-theme='dark'] {
	color-scheme: dark;
	--text-color-primary: white;
	--text-color-secondary: #b8b8b8;
	--background-color-tertiary: #272729;
	--background-color-primary: #1b1b1d;
	--background-color-secondary: #151517;
	--border-color-primary: #272729;
	--background-color-border: #272729;
}
